.checked {
    color: green;
}

.todoLabel {
    margin: 0rem 0.5rem;
}

.toolbar {
    text-align: center;
}

.input-wrapper {
    margin: 1.5rem 1.5rem;
}

.input {
    margin: 0.5rem;
}

.btnWrapper {
    width: 100%;
}

.deleteBtn {
    width: 100%;
    margin: 1.5rem;
}