<ion-item>
  <ion-icon *ngIf="todo.checked" name="checkmark-circle-outline" (click)="toggleChecked(false)" class="checked"></ion-icon>
  <ion-icon *ngIf="!todo.checked" name="square-outline" (click)="toggleChecked(true)"></ion-icon>
  <ion-label class="todoLabel ion-text-nowrap">
    <h1>{{todo.title}}</h1>
    <p>{{todo.content}}</p>
  </ion-label>
  <ion-icon slot="end" name="ellipsis-horizontal-outline" expand="block" (click)="setEditModalOpen(true)"></ion-icon>
  <ion-modal [isOpen]="isEditTodoModalOpen" (willDismiss)="onModalDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar class="toolbar">
          <ion-button slot="start" (click)="cancel()">Cancel</ion-button>
          <ion-title>Edit Todo</ion-title>
          <ion-button slot="end" (click)="save()">Save</ion-button>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="input-wrapper">
        <ion-input label="Title:" [(ngModel)]="todo.title" name="title" fill="outline" class="input"></ion-input>
        <ion-input label="Description:" [(ngModel)]="todo.content" name="description" fill="outline" class="input"></ion-input>
        <ion-buttons class="btnWrapper">
          <ion-button (click)="deleteItem()" fill="solid" color="primary" class="deleteBtn">Delete Todo</ion-button>
        </ion-buttons>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-item>
